# Dependency directories
/node_modules
/client/node_modules

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file(s)
.env
.env.*

#Build generated
dist/
build/

# Yarn Error Logs
yarn-error.log
/client/yarn-error.log

# CSS Styles Craziness
/client/src/MainSearchScreen/styles/*css
/client/src/MainSearchScreen/styles/*css.map
/client/src/InformationDisplay/styles/*css
/client/src/InformationDisplay/styles/*css.map
