# Dependency directories
/node_modules
/client/node_modules

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file(s)
.env
.env.*

#Build generated
dist/
build/

# Yarn Error Logs
yarn-error.log
/client/yarn-error.log

# Google developer authentication details
GOOGLE_APPLICATION_CREDENTIALS.json
client_secret.json
credentials.json
